<ion-content>
  <div class="design">
    <ion-buttons>
      <ion-back-button defaultHref="/home" style="font-size: 25px;"></ion-back-button>
    </ion-buttons>
  </div>

  <div class="ion-text-center" style="margin-top: 10%">
    <h1 class="ion-text-center">S'inscrire</h1>
    <form [formGroup]="Form" (submit)="validate()">
      <input placeholder="username"  formControlName="username"/>
      <input placeholder="password" type="password"  formControlName="password"/>

      <ion-button [disabled]="show"  mode="ios" type="submit" >
        <span *ngIf="!show">inscription</span>
        <ion-spinner  *ngIf="show"></ion-spinner>
      </ion-button>
    </form>
    <p>Vous avez   un compte <a style="color:white" routerLink="/login">se connecter </a></p>
  </div>
</ion-content>
