<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-icon name="close"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <ion-title>Project </ion-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="4">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-icon name="search"></ion-icon>
              </ion-col>
              <ion-col size="4">
                <ion-icon name="notifications-outline"></ion-icon>
              </ion-col>
              <ion-col size="4">
                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>

    <ion-slide>

      <ion-card style="margin-top: 10%"  mode="ios">
        <ion-header>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <b>A faire</b>
              </ion-col>
              <ion-col size="8">
                <ion-icon
                  name="ellipsis-horizontal-outline"
                  style="margin-left: 75%"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-header>
        <ion-card-content>
          <p>création de site</p>
          <hr />
          <div>
            <ion-card style="margin-left: -1%"  mode="ios">
              <ion-card-content> dkdkd </ion-card-content>
            </ion-card>
            <div><ion-icon name="add"></ion-icon> Ajouter une carte</div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="margin-top: 10%" mode="ios">
        <ion-header>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <b>A faire</b>
              </ion-col>
              <ion-col size="8">
                <ion-icon
                  name="ellipsis-horizontal-outline"
                  style="margin-left: 75%"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-header>
        <ion-card-content>
          <p>création de site</p>
          <hr />
          <div>
            <ion-card style="margin-left: -1%" mode="ios">
              <ion-card-content> dkdkd </ion-card-content>
            </ion-card>
            <div><ion-icon name="add"></ion-icon> Ajouter une carte</div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-button mode="ios" expand="full"  style="margin-top: 15%;width: 90%;--background:rgba(0,0,0,0.2);" shape="round" routerLink="/tabs/tab1">Ajouter une liste</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
